h1 {
    font-family: arial, helvetica, verdana, sans-serif;
    font-size: 24px;
    color: #000;
}

body {
    background: #e9eee8;
}

header {
  margin: 0px 20px 0px 20px;
}

header .logo {
    float: left;
    margin: 10px; 0px; 10px; 0px;
}

header .user-bar {
  float: right;
  top: 0px;
  right: 75px;
  color: #b50c5f;
  border-color: #b50c5f;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-radius: 3px;
}

header .user-bar a {
  color: #b50c5f;
  text-decoration: none;
}

header .user-bar span {
  padding: 5px; 7px; 5px; 7px;
}

ul.main-menu {
  float: none;
  clear: both;
  list-style: none;
  list-style-position: outside;
  background: linear-gradient(to top, #6a3a52, #683655);
  border-color: #525659;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
}

ul.main-menu > li {
  display: table-cell;
  padding: 15px; 9px; 15px; 9px;;
  width: 10%;
  color: #e9eee8;
  text-align: center;
}

ul.main-menu > li a {
  color: inherit;
  text-decoration: none;
}

ul.main-menu > li.searchbar {
  width: 30%;
  text-align: right;
}

.suggestions {
  display: inline;
  width: 200px;
}

.suggestions input {
  display: inline;
  width: 100%;
  padding-left: 30px;
}

.searchbar .search-icon {
  position: absolute;
  margin: 2px; 3px;
}

.searchbar .thumbnail {
  width: 45px;
  height: 45px;
  vertical-align: middle;
}

.searchbar .results {
  position: absolute;
  margin-top: 20px;
  color: #b50c5f;
  background-color: #ffffff;
  border: #cccccc 1px solid;
  width: 20%
}

.searchbar .empty {
  padding: 5px 7px 5px 7px;
  text-align: center;
}

.searchbar .results ul {
  text-align: left;
  list-style: none;
  list-style-position: outside;
  padding: 0px;
  margin: 0px;
}

.searchbar .results li {
  text-align: left;
  padding: 2px; 2px; 2px; 2px;
}

.searchbar .results li:fist-child {
  padding-top: 0px;
}

.searchbar .results li:last-child {
  padding-botton: 0px;
}

.searchbar .results li a {
  color: inherit;
  text-decoration: none;
}

.searchbar .results li:hover {
  background-color: #b50c5f;
  color: #e9eee8;
}

.searchbar .results li:hover a {
  color: inherit;
  text-decoration: none;
}

section {
    margin: 20px;
}
