<html ng-app="movies">

<head>
    <meta charset="utf-8">
    <title>NOW TV Auto complete test</title>

    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/styles.css"/>

</head>

<body>
  <header>
    <img class="logo" src="img/logo.jpg" alt="Now TV" />

    <aside class="user-bar">
      <span class="signup">
        <a href="#login" alt="Login"><img src="img/user-icon.jpg" /> Log in / sign up </a>
      </span>
      <span class="help">
        <a href="#help" alt="Help">Help</a>
      </span>
    </aside>


    <ul class="main-menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#new">New releases</a></li>
      <li><a href="#collections">Collections</a></li>
      <li><a href="#genres">Genres</a></li>
      <li><a href="#channles">Movie channels</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#my">My movies</a></li>
      <li class="searchbar">
        <div class="suggestions" ng-controller="moviesSuggestions">
          <img class="search-icon" src="img/search.jpg" />
          <input placeholder="Search" ng-model="phrase" ng-change="search()"></input>
          <aside class="results" ng-if="results !== null">

            <div class="empty" ng-if="results.length === 0">
              No movies found
            </div>

            <div class="list" ng-if="results.length > 0">
              <ul>
                <li ng-repeat="r in results" ng-click="open(r)">
                  <a href="#/movies/{{r.slug}}">
                    <img class="thumbnail" src="{{r.thumbnail}}" alt="{{r.title}}" />
                    {{r.title}}
                  </a>
                </li>
              </ul>
            </div>
          </aside>
        </div>
      </li>
    </ul>
  </header>

  <section ng-view>
  </section>

<script src="js/lib/angular/angular.js"></script>
<script src="js/lib/angular/angular-resource.min.js"></script>
<script src="js/app.js"></script>
<script src="js/moviesCatalogueService.js"></script>

</body>

</html>
